<div class="jumbotron">
    <h1 class="title font-weight-bold text-center">About us</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <section>
                <h4 class="title font-weight-bold text-center mb-3">Lorem Ipsum</h4>
                <p class="content app-description text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum justo id orci euismod pulvinar. Nulla lobortis luctus est et facilisis. Sed imperdiet ex sed enim vehicula egestas. Suspendisse potenti. Fusce non accumsan dolor. Proin in porta leo. Pellentesque sodales varius tortor, ac congue arcu. Morbi sagittis velit quis nisi suscipit luctus. Fusce vitae dapibus orci. Nulla pretium interdum est, eget commodo nisi egestas varius. Donec fringilla pretium ipsum a interdum. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Integer fermentum ipsum eros, at faucibus purus hendrerit sit amet. Morbi aliquam consequat imperdiet.
                </p>
            </section>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <p class="text-center">
                <%= image_tag 'logo_enceinte', class: 'enceinte img-fluid' %>
            </p>
        </div>
    </div>
</div>
